<h1>Editing Group Component</h1>

<%= render 'form' %>

<%= link_to 'Show', @group_component, :class => "btn btn-primary" %> |
<%= link_to 'Back', group_components_path, :class => "btn btn-danger" %>
