/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-inverse {
  background: #273b47;
  color: #fff;
}
.jumbotron{
  background-image: image-url("iot_image.png");
}




.LandingPlanCareer {
  display: inline-block;
  font-size: 1rem;
  vertical-align: bottom;
  width: 280px;
  text-align: center;
  padding-bottom: 10px
}
.center_div{
  width: 100%;
  text-align: center;
}
.LandingPlanCareer-bigger-free .LandingPlanCareer-price-free{
  background: #98ca3f;
  color: #fff;
  padding: 18px 0;
}
.color-free{
  background: #98ca3f;
}
.LandingPlanCareer-bigger-bronze .LandingPlanCareer-price-bronze{
  background: #CD7F32;
  color: #fff;
  padding: 18px 0;
}
.color-bronze{
  background: #CD7F32;
}
.LandingPlanCareer-bigger-silver .LandingPlanCareer-price-silver{
  background: #c0c0c0;
  color: #fff;
  padding: 18px 0;
}
.color-silver{
  background: #c0c0c0;
}
.LandingPlanCareer-bigger-gold .LandingPlanCareer-price-gold{
  background: #FFD700;
  color: #fff;
  padding: 18px 0;
}
.color-gold{
  background: #FFD700;
}
.jumbotron h1, .jumbotron .h1 {
  color: #98ca3f;
  font-weight: bold;
}
.jumbotron .container {
  background: rgba(0,0,0,0.5);
  color: white;
}
.LandingPlanCareer-type {
  font-size: 26px;
  line-height: 1;
  padding-bottom: 10px;
}
.LandingPlanCareer-info {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddddd6;
  overflow: hidden;
}

.LandingPlanCareer-currency {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}
.LandingPlanCareer-label {
  margin-top: 5px;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.LandingPlanCareer-list {
  padding: 30px 60px 35px 22px;
  list-style: none;
  text-align: left;
}

.LandingPlanCareer-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 6px;
  margin-bottom: 16px;
}
.LandingPlanCareer .bullet-color-green {
  background: #98ca3f;
}
.LandingPlanCareer-bullet {
  min-width: 10px;
  max-width: 10px;
  max-height: 10px;
  min-height: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.LandingPlanCareer-benefits{
  padding-left:10px;
}
.LandingPlanCareer-button {
  margin-bottom: 20px;
}

.btn, .btn-sucess, .btn-default, .btn-primary, .btn-danger, .btn-info, .btn-warning {
  border: none;
  -webkit-border-radius: .4em;
  border-radius: .4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
  box-shadow: inset 0 -.2em rgba(0,0,0,.3);
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

footer{
  margin-top: 50px;
  padding-top: 20px;
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background: #273b47;
  color: #fff;
}

.reducir
{
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
}

.letra-color-negro{
  color: black;
}
.letra-color-blanco{
  color: white;
}
.letra-color-verde{
  color: green;
}
.poniendo-padding{
  padding-bottom: 40px;
  padding-top: 20px;
}
.llenado-boton{
  width: 250px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.my-quotes {
  border:none;
  margin-bottom:-30px;
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  padding-left: 0.4em;
}

.my-quotes h3 {
  font-size:18px;
}

.my-quotes h3:before {
  content: "\201C";
  font-size:60px;
  color:#889c0b;
  position: absolute;
  top: -0.2em;
  left: -0.3em;
}
.my-quotes h3:after {
  content: "\201D";
  font-size:60px;
  color:#889c0b;
  position: absolute;
  bottom: -0.6em;
  right: 0.6em;
}